name: Shell Commands
on: [push]
jobs:
  run-shell-command:
    runs-on: ubuntu-latest
    steps:
      - name: Imprime un String
        run: echo "Hola Mundo"
      - name: Script multilinea
        run: |
          node -v
          npm -v
